.container{
  text-align: left;
}
.slika{
  text-align: center;
}

img{
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.uno{
  padding: 0;

}

.slikaDiv{
  margin-top: 20px;
}

.card-body{
  border:1px solid lightgrey;
  border-radius: 10px;
  margin:5% 0;
}

.duo{
  padding: 0;
  border-radius: 10px;
}

.card-header{
  background-color: green;
}

.form-control{
  border:0;
  border-bottom:1px solid lightgrey;
}

.dropdown-menu{
  height:500px;
  overflow-y:auto;
}

.form-check{
  text-align: left;
}

.gumb{
  text-align: left;
}

.treca-strana{
  text-align: center;
}

.okvir{
  position:relative;
}

.plus,.minus{
  position:absolute;
  right:20px;
  color:white;
  font-weight: bold;
  margin-right:10px;
  cursor: pointer;
}
